@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo base */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Container do formulário */
.form-container {
  background: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.erro-msg {
  color: #b00020;
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Campos do formulário */
.form-cadastro label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-cadastro input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botão */
.form-cadastro button {
  width: 100%;
  padding: 12px;
  background-color: #a0522d; /* marrom claro */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-cadastro button:hover {
  background-color: #8b4513;
}

/* Responsivo */
@media (max-width: 500px) {
  .form-container {
    margin: 20px;
    padding: 20px;
  }
}